#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  text-decoration: underline;
} 
ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

.card {
  padding: 2em;
}

.add-post {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  border: 1px solid;
  padding: 2rem;
  border-radius: 15px;
}

.add-user {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  border: 1px solid;
  padding: 2rem 4rem;
  border-radius: 15px;
}
